$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$beer_cup-icon-path1: "\e901";
$beer_cup-icon-path2: "\e902";
$beer_cup-icon-path3: "\e903";
$beer_cup-icon-path4: "\e904";
$beer_cup-icon-path5: "\e905";
$beer_cup-icon-path6: "\e906";
$beer_cup-icon-path7: "\e907";
$beer_cup-icon-path8: "\e908";
$beer_cup-icon-path9: "\e909";
$beer_cup-icon-path10: "\e90a";
$beer_cup-icon-path11: "\e90b";
$beer_cup-icon-path12: "\e90c";
$beer_cup-icon-path13: "\e90d";
$beer_cup-icon-path14: "\e90e";
$beer_cup-icon-path15: "\e90f";
$beer_cup-icon-path16: "\e910";
$beer_cup-icon-path17: "\e911";
$beer_cup-icon-path18: "\e912";
$beer_cup-icon-path19: "\e913";
$beer_cup-icon-path20: "\e914";
$beer_cup-icon-path21: "\e915";
$beer_cup-icon-path22: "\e916";
$beer_cup-icon-path23: "\e917";
$beer_cup-icon-path24: "\e918";
$beer_cup-icon-path25: "\eaba";
$home-icon: "\e900";
$home2-icon: "\e919";
$home3-icon: "\e91a";
$office-icon: "\e91b";
$newspaper-icon: "\e91c";
$pencil-icon: "\e91d";
$pencil2-icon: "\e91e";
$quill-icon: "\e91f";
$pen-icon: "\e920";
$blog-icon: "\e921";
$eyedropper-icon: "\e922";
$droplet-icon: "\e923";
$paint-format-icon: "\e924";
$image-icon: "\e925";
$images-icon: "\e926";
$camera-icon: "\e927";
$headphones-icon: "\e928";
$music-icon: "\e929";
$play-icon: "\e92a";
$film-icon: "\e92b";
$video-camera-icon: "\e92c";
$dice-icon: "\e92d";
$pacman-icon: "\e92e";
$spades-icon: "\e92f";
$clubs-icon: "\e930";
$diamonds-icon: "\e931";
$bullhorn-icon: "\e932";
$connection-icon: "\e933";
$podcast-icon: "\e934";
$feed-icon: "\e935";
$mic-icon: "\e936";
$book-icon: "\e937";
$books-icon: "\e938";
$library-icon: "\e939";
$file-text-icon: "\e93a";
$profile-icon: "\e93b";
$file-empty-icon: "\e93c";
$files-empty-icon: "\e93d";
$file-text2-icon: "\e93e";
$file-picture-icon: "\e93f";
$file-music-icon: "\e940";
$file-play-icon: "\e941";
$file-video-icon: "\e942";
$file-zip-icon: "\e943";
$copy-icon: "\e944";
$paste-icon: "\e945";
$stack-icon: "\e946";
$folder-icon: "\e947";
$folder-open-icon: "\e948";
$folder-plus-icon: "\e949";
$folder-minus-icon: "\e94a";
$folder-download-icon: "\e94b";
$folder-upload-icon: "\e94c";
$price-tag-icon: "\e94d";
$price-tags-icon: "\e94e";
$barcode-icon: "\e94f";
$qrcode-icon: "\e950";
$ticket-icon: "\e951";
$cart-icon: "\e952";
$coin-dollar-icon: "\e953";
$coin-euro-icon: "\e954";
$coin-pound-icon: "\e955";
$coin-yen-icon: "\e956";
$credit-card-icon: "\e957";
$calculator-icon: "\e958";
$lifebuoy-icon: "\e959";
$phone-icon: "\e95a";
$phone-hang-up-icon: "\e95b";
$address-book-icon: "\e95c";
$envelop-icon: "\e95d";
$pushpin-icon: "\e95e";
$location-icon: "\e95f";
$location2-icon: "\e960";
$compass-icon: "\e961";
$compass2-icon: "\e962";
$map-icon: "\e963";
$map2-icon: "\e964";
$history-icon: "\e965";
$clock-icon: "\e966";
$clock2-icon: "\e967";
$alarm-icon: "\e968";
$bell-icon: "\e969";
$stopwatch-icon: "\e96a";
$calendar-icon: "\e96b";
$printer-icon: "\e96c";
$keyboard-icon: "\e96d";
$display-icon: "\e96e";
$laptop-icon: "\e96f";
$mobile-icon: "\e970";
$mobile2-icon: "\e971";
$tablet-icon: "\e972";
$tv-icon: "\e973";
$drawer-icon: "\e974";
$drawer2-icon: "\e975";
$box-add-icon: "\e976";
$box-remove-icon: "\e977";
$download-icon: "\e978";
$upload-icon: "\e979";
$floppy-disk-icon: "\e97a";
$drive-icon: "\e97b";
$database-icon: "\e97c";
$undo-icon: "\e97d";
$redo-icon: "\e97e";
$undo2-icon: "\e97f";
$redo2-icon: "\e980";
$forward-icon: "\e981";
$reply-icon: "\e982";
$bubble-icon: "\e983";
$bubbles-icon: "\e984";
$bubbles2-icon: "\e985";
$bubble2-icon: "\e986";
$bubbles3-icon: "\e987";
$bubbles4-icon: "\e988";
$user-icon: "\e989";
$users-icon: "\e98a";
$user-plus-icon: "\e98b";
$user-minus-icon: "\e98c";
$user-check-icon: "\e98d";
$user-tie-icon: "\e98e";
$quotes-left-icon: "\e98f";
$quotes-right-icon: "\e990";
$hour-glass-icon: "\e991";
$spinner-icon: "\e992";
$spinner2-icon: "\e993";
$spinner3-icon: "\e994";
$spinner4-icon: "\e995";
$spinner5-icon: "\e996";
$spinner6-icon: "\e997";
$spinner7-icon: "\e998";
$spinner8-icon: "\e999";
$spinner9-icon: "\e99a";
$spinner10-icon: "\e99b";
$spinner11-icon: "\e99c";
$binoculars-icon: "\e99d";
$search-icon: "\e99e";
$zoom-in-icon: "\e99f";
$zoom-out-icon: "\e9a0";
$enlarge-icon: "\e9a1";
$shrink-icon: "\e9a2";
$enlarge2-icon: "\e9a3";
$shrink2-icon: "\e9a4";
$key-icon: "\e9a5";
$key2-icon: "\e9a6";
$lock-icon: "\e9a7";
$unlocked-icon: "\e9a8";
$wrench-icon: "\e9a9";
$equalizer-icon: "\e9aa";
$equalizer2-icon: "\e9ab";
$cog-icon: "\e9ac";
$cogs-icon: "\e9ad";
$hammer-icon: "\e9ae";
$magic-wand-icon: "\e9af";
$aid-kit-icon: "\e9b0";
$bug-icon: "\e9b1";
$pie-chart-icon: "\e9b2";
$stats-dots-icon: "\e9b3";
$stats-bars-icon: "\e9b4";
$stats-bars2-icon: "\e9b5";
$trophy-icon: "\e9b6";
$gift-icon: "\e9b7";
$glass-icon: "\e9b8";
$glass2-icon: "\e9b9";
$mug-icon: "\e9ba";
$spoon-knife-icon: "\e9bb";
$leaf-icon: "\e9bc";
$rocket-icon: "\e9bd";
$meter-icon: "\e9be";
$meter2-icon: "\e9bf";
$hammer2-icon: "\e9c0";
$fire-icon: "\e9c1";
$lab-icon: "\e9c2";
$magnet-icon: "\e9c3";
$bin-icon: "\e9c4";
$bin2-icon: "\e9c5";
$briefcase-icon: "\e9c6";
$airplane-icon: "\e9c7";
$truck-icon: "\e9c8";
$road-icon: "\e9c9";
$accessibility-icon: "\e9ca";
$target-icon: "\e9cb";
$shield-icon: "\e9cc";
$power-icon: "\e9cd";
$switch-icon: "\e9ce";
$power-cord-icon: "\e9cf";
$clipboard-icon: "\e9d0";
$list-numbered-icon: "\e9d1";
$list-icon: "\e9d2";
$list2-icon: "\e9d3";
$tree-icon: "\e9d4";
$menu-icon: "\e9d5";
$menu2-icon: "\e9d6";
$menu3-icon: "\e9d7";
$menu4-icon: "\e9d8";
$cloud-icon: "\e9d9";
$cloud-download-icon: "\e9da";
$cloud-upload-icon: "\e9db";
$cloud-check-icon: "\e9dc";
$download2-icon: "\e9dd";
$upload2-icon: "\e9de";
$download3-icon: "\e9df";
$upload3-icon: "\e9e0";
$sphere-icon: "\e9e1";
$earth-icon: "\e9e2";
$link-icon: "\e9e3";
$flag-icon: "\e9e4";
$attachment-icon: "\e9e5";
$eye-icon: "\e9e6";
$eye-plus-icon: "\e9e7";
$eye-minus-icon: "\e9e8";
$eye-blocked-icon: "\e9e9";
$bookmark-icon: "\e9ea";
$bookmarks-icon: "\e9eb";
$sun-icon: "\e9ec";
$contrast-icon: "\e9ed";
$brightness-contrast-icon: "\e9ee";
$star-empty-icon: "\e9ef";
$star-half-icon: "\e9f0";
$star-full-icon: "\e9f1";
$heart-icon: "\e9f2";
$heart-broken-icon: "\e9f3";
$man-icon: "\e9f4";
$woman-icon: "\e9f5";
$man-woman-icon: "\e9f6";
$happy-icon: "\e9f7";
$happy2-icon: "\e9f8";
$smile-icon: "\e9f9";
$smile2-icon: "\e9fa";
$tongue-icon: "\e9fb";
$tongue2-icon: "\e9fc";
$sad-icon: "\e9fd";
$sad2-icon: "\e9fe";
$wink-icon: "\e9ff";
$wink2-icon: "\ea00";
$grin-icon: "\ea01";
$grin2-icon: "\ea02";
$cool-icon: "\ea03";
$cool2-icon: "\ea04";
$angry-icon: "\ea05";
$angry2-icon: "\ea06";
$evil-icon: "\ea07";
$evil2-icon: "\ea08";
$shocked-icon: "\ea09";
$shocked2-icon: "\ea0a";
$baffled-icon: "\ea0b";
$baffled2-icon: "\ea0c";
$confused-icon: "\ea0d";
$confused2-icon: "\ea0e";
$neutral-icon: "\ea0f";
$neutral2-icon: "\ea10";
$hipster-icon: "\ea11";
$hipster2-icon: "\ea12";
$wondering-icon: "\ea13";
$wondering2-icon: "\ea14";
$sleepy-icon: "\ea15";
$sleepy2-icon: "\ea16";
$frustrated-icon: "\ea17";
$frustrated2-icon: "\ea18";
$crying-icon: "\ea19";
$crying2-icon: "\ea1a";
$point-up-icon: "\ea1b";
$point-right-icon: "\ea1c";
$point-down-icon: "\ea1d";
$point-left-icon: "\ea1e";
$warning-icon: "\ea1f";
$notification-icon: "\ea20";
$question-icon: "\ea21";
$plus-icon: "\ea22";
$minus-icon: "\ea23";
$info-icon: "\ea24";
$cancel-circle-icon: "\ea25";
$blocked-icon: "\ea26";
$cross-icon: "\ea27";
$checkmark-icon: "\ea28";
$checkmark2-icon: "\ea29";
$spell-check-icon: "\ea2a";
$enter-icon: "\ea2b";
$exit-icon: "\ea2c";
$play2-icon: "\ea2d";
$pause-icon: "\ea2e";
$stop-icon: "\ea2f";
$previous-icon: "\ea30";
$next-icon: "\ea31";
$backward-icon: "\ea32";
$forward2-icon: "\ea33";
$play3-icon: "\ea34";
$pause2-icon: "\ea35";
$stop2-icon: "\ea36";
$backward2-icon: "\ea37";
$forward3-icon: "\ea38";
$first-icon: "\ea39";
$last-icon: "\ea3a";
$previous2-icon: "\ea3b";
$next2-icon: "\ea3c";
$eject-icon: "\ea3d";
$volume-high-icon: "\ea3e";
$volume-medium-icon: "\ea3f";
$volume-low-icon: "\ea40";
$volume-mute-icon: "\ea41";
$volume-mute2-icon: "\ea42";
$volume-increase-icon: "\ea43";
$volume-decrease-icon: "\ea44";
$loop-icon: "\ea45";
$loop2-icon: "\ea46";
$infinite-icon: "\ea47";
$shuffle-icon: "\ea48";
$arrow-up-left-icon: "\ea49";
$arrow-up-icon: "\ea4a";
$arrow-up-right-icon: "\ea4b";
$arrow-right-icon: "\ea4c";
$arrow-down-right-icon: "\ea4d";
$arrow-down-icon: "\ea4e";
$arrow-down-left-icon: "\ea4f";
$arrow-left-icon: "\ea50";
$arrow-up-left2-icon: "\ea51";
$arrow-up2-icon: "\ea52";
$arrow-up-right2-icon: "\ea53";
$arrow-right2-icon: "\ea54";
$arrow-down-right2-icon: "\ea55";
$arrow-down2-icon: "\ea56";
$arrow-down-left2-icon: "\ea57";
$arrow-left2-icon: "\ea58";
$circle-up-icon: "\ea59";
$circle-right-icon: "\ea5a";
$circle-down-icon: "\ea5b";
$circle-left-icon: "\ea5c";
$tab-icon: "\ea5d";
$move-up-icon: "\ea5e";
$move-down-icon: "\ea5f";
$sort-alpha-asc-icon: "\ea60";
$sort-alpha-desc-icon: "\ea61";
$sort-numeric-asc-icon: "\ea62";
$sort-numberic-desc-icon: "\ea63";
$sort-amount-asc-icon: "\ea64";
$sort-amount-desc-icon: "\ea65";
$command-icon: "\ea66";
$shift-icon: "\ea67";
$ctrl-icon: "\ea68";
$opt-icon: "\ea69";
$checkbox-checked-icon: "\ea6a";
$checkbox-unchecked-icon: "\ea6b";
$radio-checked-icon: "\ea6c";
$radio-checked2-icon: "\ea6d";
$radio-unchecked-icon: "\ea6e";
$crop-icon: "\ea6f";
$make-group-icon: "\ea70";
$ungroup-icon: "\ea71";
$scissors-icon: "\ea72";
$filter-icon: "\ea73";
$font-icon: "\ea74";
$ligature-icon: "\ea75";
$ligature2-icon: "\ea76";
$omega-icon: "\ea77";
$sigma-icon: "\ea78";
$page-break-icon: "\ea79";
$superscript-icon: "\ea7a";
$subscript-icon: "\ea7b";
$superscript2-icon: "\ea7c";
$subscript2-icon: "\ea7d";
$text-color-icon: "\ea7e";
$table-icon: "\ea7f";
$table2-icon: "\ea80";
$insert-template-icon: "\ea81";
$paragraph-left-icon: "\ea82";
$paragraph-center-icon: "\ea83";
$paragraph-right-icon: "\ea84";
$paragraph-justify-icon: "\ea85";
$indent-increase-icon: "\ea86";
$indent-decrease-icon: "\ea87";
$share-icon: "\ea88";
$new-tab-icon: "\ea89";
$embed-icon: "\ea8a";
$embed2-icon: "\ea8b";
$terminal-icon: "\ea8c";
$share2-icon: "\ea8d";
$mail-icon: "\ea8e";
$mail2-icon: "\ea8f";
$mail3-icon: "\ea90";
$mail4-icon: "\ea91";
$amazon-icon: "\ea92";
$google-icon: "\ea93";
$google2-icon: "\ea94";
$google3-icon: "\ea95";
$google-plus-icon: "\ea96";
$google-plus2-icon: "\ea97";
$google-plus3-icon: "\ea98";
$hangouts-icon: "\ea99";
$google-drive-icon: "\ea9a";
$facebook-icon: "\ea9b";
$facebook2-icon: "\ea9c";
$instagram-icon: "\ea9d";
$whatsapp-icon: "\ea9e";
$telegram-icon: "\ea9f";
$twitter-icon: "\eaa0";
$vine-icon: "\eaa1";
$vk-icon: "\eaa2";
$renren-icon: "\eaa3";
$rss-icon: "\eaa4";
$rss2-icon: "\eaa5";
$vimeo-icon: "\eaa6";
$vimeo2-icon: "\eaa7";
$lanyrd-icon: "\eaa8";
$flickr-icon: "\eaa9";
$flickr2-icon: "\eaaa";
$flickr3-icon: "\eaab";
$flickr4-icon: "\eaac";
$dribbble-icon: "\eaad";
$behance-icon: "\eaae";
$behance2-icon: "\eaaf";
$deviantart-icon: "\eab0";
$px-icon: "\eab1";
$dropbox-icon: "\eab2";
$onedrive-icon: "\eab3";
$github-icon: "\eab4";
$npm-icon: "\eab5";
$basecamp-icon: "\eab6";
$trello-icon: "\eab7";
$joomla-icon: "\eab8";
$ello-icon: "\eab9";
$yahoo-icon: "\eabb";
$yahoo2-icon: "\eabc";
$tux-icon: "\eabd";
$appleinc-icon: "\eabe";
$finder-icon: "\eabf";
$android-icon: "\eac0";
$windows-icon: "\eac1";
$windows8-icon: "\eac2";
$soundcloud-icon: "\eac3";
$soundcloud2-icon: "\eac4";
$linkedin-icon: "\eac9";
$linkedin2-icon: "\eaca";
$lastfm-icon: "\eacb";
$lastfm2-icon: "\eacc";
$stumbleupon-icon: "\eace";
$stumbleupon2-icon: "\eacf";
$stackoverflow-icon: "\ead0";
$pinterest-icon: "\ead1";
$pinterest2-icon: "\ead2";
$xing-icon: "\ead3";
$xing2-icon: "\ead4";
$flattr-icon: "\ead5";
$foursquare-icon: "\ead6";
$yelp-icon: "\ead7";
$paypal-icon: "\ead8";
$chrome-icon: "\ead9";
$firefox-icon: "\eada";
$IE-icon: "\eadb";
$edge-icon: "\eadc";
$safari-icon: "\eadd";
$opera-icon: "\eade";
$file-pdf-icon: "\eadf";
$html-five-icon: "\eae4";
$html-five2-icon: "\eae5";
$codepen-icon: "\eae8";
$svg-icon: "\eae9";